.footer {
  padding-top: $gap * 3;
  padding-bottom: 20px;

  color: $color-gray;
  background-color: $color-dark;

  ul {
    padding: 0;

    list-style: none;
  }

  a {
    color: $color-gray-dark;

    &:hover {
      color: $color-white;
    }
  }
}

.footer-link {
  padding-top: 20px;

  text-align: center;
  a {
    color: $color-gray;
  }
}
