.left-sidebar {
  @extend %margin-bottom-lg;

  .panel:last-of-type {
    margin-bottom: 0;
  }
}

.vert-slider {
  overflow: hidden;

  border-radius: 4px;

  img {
    width: 100%;
  }
}

.user-login {
  position: relative;
  &__tabs {
    position: absolute;
    top: 0;
    right: $gap / 3 * 2;

    border: none;

    a {
      padding: 14px 5px 11px !important;

      color: $color-gray;
      border: none !important;
      background-color: transparent !important;
    }
    .active a {
      color: $color-white !important;
    }
  }
}

.movie-rating {
  &__body {
    padding-right: 0;
    padding-left: 0;
  }

  &__list {
    margin-right: -1px;
    margin-bottom: 0;
    margin-left: -1px;
  }

  &__item {
    padding-right: 55px;

    color: $color-primary !important;
    background-color: transparent;

    &:first-child {
      border-top: none;
      border-radius: 0;
    }
    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:hover,
    &:focus {
      color: $color-white !important;
      border-color: $color-accent;
      background-color: $color-accent !important;

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &__badge {
    position: absolute;
    top: 50%;
    right: $gap;

    transform: translateY(-50%);
  }
}
